/* ZERAR CSS DA PAGINA*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');
:root{
    --primary-color: #212121;
    --secundary-color: #1a1713;
    --third-color: #2b2a29;
    --fourth-color: #000000;
    --fifth-color: #1a1917;
    --sixtin-color: rgb(255, 251, 251);
    --body-fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.section{
    height: 100vh;
    max-width: 3000px;
    box-shadow: 20px -20px 40px 10px rgb(54, 15, 15);

}
.profile{
    z-index: 1;
    color: var(--sixtin-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.profile h1{
    font: bold 30px 'Press Start 2P', cursive;
    line-height: 40px;
    color:  rgba(253, 15, 7, 0.959);  
    letter-spacing: 2px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.925) .1em  0.1em 0.2em;

}

.profile-text{
    font: 25px var(--body-fonts); 
    padding: .5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.582) .1em  0.1em 0.2em;
}

.section-apresentacao{
    display: flex;
    background: var(--fourth-color);
    text-align: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
.section-projetos{
    display: flex;
    align-items: center;
    background: var(--fourth-color); 
    flex-direction: column;
}

#sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800em;
}
#sobre p{
    font: 1em var(--body-fonts);
    text-align: justify;
    padding-top:1.5rem;
    color: #fff;
    max-width: 30em;
    margin-left: 6em;
    line-height: 1.2rem;
    
}
.title-section{
    font: 1.5em 'Press Start 2P', cursive;
    color:  rgba(253, 15, 7, 0.959);
    letter-spacing: 2px;
}
.section-projetos .title-section{
   margin:3em 0px 3em ;
}
.section-apresentacao img{
    max-width: 25vw;
    border-radius: 5%;
}
.contrast{
    color: #0084ff;
    font-size: 1.6em;
}

/* barra de rolagem*/
::-webkit-scrollbar{
    width: 5px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #ff0f0f 0%, #294db1 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }

.projetos{
    box-sizing: border-box;
    max-width: 800px;
    background-color: rgba(230, 18, 18, 0.329);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
}

.card-projeto{
    width: 300px;
    height: 200px;
    border: .5px solid #ffff;
    margin: 25px;
    background-image: ;
}
/*
.projetos{
    max-width: 2000px;
    background:rgba(237, 238, 235, 0.233);
    display: flex;
    padding: 0px 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-projeto{  
    margin: 5px;
    border-color: #000000;
    width: 300px;
    height: 300px;
    background:#0084ff;
}



.projetos{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    flex-wrap: wrap;
}
.card-projeto a{
    width: 200px;
    height: 150px;
    background: white;
    flex:1;
    transition:.3s;
}
.card-projeto:hover{
    flex:3;
}


*/



@media (max-width: 768px){
    .apresentacao img{
        display:none;
    }
    #sobre p{
        text-align: center;
        margin-left: 0em;
    }
   
}

@media (min-width: 2000px)
{
    #logo{
        font-size: 4rem;
        font-weight: bold;
    }
    #logo::before, #logo::after {
        content: '<';
        font-size: 4rem;
        color: rgb(255, 0, 0);
        font-weight: 700;
    }
    #logo::after{
        content: '/>';
    }
    .profile h1{
        font: bold 200px 'Press Start 2P', cursive;
    }
}