/* ZERAR CSS DA PAGINA*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

:root {
    --primary-color: #212121;
    --secundary-color: #1a1713;
    --third-color: #2b2a29;
    --fourth-color: #000000;
    --fifth-color: #1a1917;
    --sixtin-color: rgb(255, 251, 251);
    /*
            PALETA DE CORES USADAS
            https://coolors.co/palette/f67c1d-ee5c17-333333-464749-f68933-f0f0f0-326e9d-9abcd5-1f1f1f-fd510d
    */
    --body-fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;

}

.section {
    box-sizing: border-box;
    height: 100vh;
    max-width: 4000px;
    box-shadow: 0.4px 0px 27.1px #333333;
}


.profile {
    z-index: 1;
    color: var(--sixtin-color);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.profile h1 {
    font: bold 30px 'Press Start 2P', cursive;
    line-height: 40px;
   /* color: rgba(251, 0, 13);*/
    color: #fd510d;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.925) .1em 0.1em 0.2em;

}

.profile-text {
    font: 25px var(--body-fonts);
    padding: .5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.582) .1em 0.1em 0.2em;
}

.section-apresentacao {
    display: flex;
    background: var(--fourth-color);
    text-align: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    background-color: #f0f0f0;

}


#sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800em;
}

#texto-sobre p {
    font: 1em var(--body-fonts);
    text-align: justify;
    padding-top: 2rem;
    color:#000000;
    max-width: 30em;
    margin-left: 6em;
    line-height: 1.2rem;
    font-weight:bold;

}

.title-section {
    font: 1.5em 'Press Start 2P', cursive;
    color: #ee5c17;
    letter-spacing: 2px;
}

.section-projetos .title-section {
    margin: 2em 0px 1.5em;
}

.section-apresentacao img {
    max-width: 20vw;
    border-radius: 5%;
}

.contrast {
    color: #326e9d;
    font-size: 1.6em;
    font-weight: bold;
}

/* barra de rolagem*/
::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #EE5C17 0%, #9ABCD5 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

.section-projetos {
    display: flex;
    align-items: center;
    background-color: #000000e3;
    flex-direction: column;
}

.projetos {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 100%;

}

.card-projeto {
    margin: 10px;
    background-color: #464749;
    width: 300px;
    height: 250px;
}

.footer {
    background-color: #f0f0f0;
    color: #1F1F1F;
    font-weight:bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.footer-icon-social {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
   /* color: #ffffffdc;*/
    gap: 15px;
    font-size: 30px;
}


.footer-icon-social .fa-github-alt:hover{
    color:rgb(0, 0, 0);
}
.footer-icon-social .fa-linkedin-in:hover{
    color:rgb(12, 117, 255);
    border:  solid rgb(12, 117, 255) 1px; 
}

.footer-icon-social .fa-whatsapp:hover{
    color:rgb(2, 124, 23);
    border:  solid rgb(2, 124, 23) 1px; 

}


.footer-icon-social .fa-brands {
    border: .2px #464646f8 solid;
    border-radius: 50%;
    padding: 10px;
    color: #464646f8;
}

@media (max-width: 768px) {
    .section-apresentacao img {
        display: none;
    }
    .section-projetos{
        height:auto;
    }
    #sobre p {
        text-align: center;
        margin-left: 0em;
    }

    #sobre {
        padding-top: 25px;
    }

}

@media (min-width: 2000px) {
    #logo {
        font-size: 4rem;
        font-weight: bold;
    }

    #logo::before,
    #logo::after {
        content: '<';
        font-size: 4rem;
        color: #F68933;
        font-weight: 700;
    }

    #logo::after {
        content: '/>';
    }

    .profile h1 {
        font: bold 200px 'Press Start 2P', cursive;
    }
}